.app__wrapper {

  .app__main {
    display: block;
  }
  .app__main,
  .marketing-footer {
    input, select {
      color: map-get($my-site-colors, c-dk-brown);
    } 

    input::-webkit-input-placeholder { /* Chrome */
      color: map-get($my-site-colors, c-x-dk-gray);
    }
    input:-ms-input-placeholder { /* IE 10+ */
      color: map-get($my-site-colors, c-x-dk-gray);
    }
    input::-moz-placeholder { /* Firefox 19+ */
      color: map-get($my-site-colors, c-x-dk-gray);
    }
    input:-moz-placeholder { /* Firefox 4 - 18 */
      color: map-get($my-site-colors, c-x-dk-gray);
    }
    select:invalid {
      color: map-get($my-site-colors, c-x-dk-gray);
    }
  }

  .marketing-footer {
    input::-webkit-input-placeholder { /* Chrome */
      font-style: italic;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      font-style: italic;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      font-style: italic;
    }
    input:-moz-placeholder { /* Firefox 4 - 18 */
      font-style: italic;
    }
  }

  .app__main,
  .section-wrapper {
    max-width: 1184px;
    margin: 0 auto;
  }

  button {
    &:not(.btn) {
      -webkit-appearance: none;
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
      padding: 0;
      &:hover {
        opacity: .8;
      }
    }
  }

  h1, h2, h3, h4, h5, h6, li, td, p, input, select, div, span {
    font-family: $merriweather;
    font-weight: normal;
    
    > a:not(.btn) {
      text-decoration: none;
      &:hover {
        color: map-get($my-site-colors, c-lt-brown);
      }
    }
  }

  .t-alt {
    font-family: $proxima-nova-regular;
    p {
      font-family: $proxima-nova-regular;
    }
  }

  .btn,
  .t-label,
  .t-alt-bold,
  .t-alt strong {
    font-family: $proxima-nova-bold;
  }
}